<!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Vue.js in action</title>

	<script src="https://unpkg.com/vue/dist/vue.js"></script>



</head>

<body>

<header>
	<h1>список дел</h1>
</header>

<div id="app-todolist">

	<div id="commands">
		<input type="text"  v-model="newTodoText" v-on:keyup.enter="addTodo()" />
		<a href="" v-on:click="addTodo()" onclick="return false;" title="">+</a>


	</div>

	<div id="main-content">

		<transition-group tag="ul" name="list-animation">

			<li

			v-for="todo in todoItems" v-bind:key="todo.Id" class="todo-item todo-item-animated">

			<span class="todo-text" v-bind:class="{ completed: todo.IsDone }">{{ todo.Text }}</span>


				<a href="" v-on:click="removeTodo(todo)" onclick="return false;" title="">✓</a>

			</li>
		</transition-group>

	</div>

</div>

<script src="app.js"></script>

</body>

</html>